[Unit]
Description=Vaultwarden Password Manager

[Container]
Pod=vaultwarden.pod
ContainerName=vaultwarden
Image=ghcr.io/dani-garcia/vaultwarden:latest
AutoUpdate=registry

Volume=vaultwarden.volume:/data:Z,U

Environment=DOMAIN="https://bitwarden.renkin42.dev"
Environment=ROCKET_TLS='{certs="/run/secrets/renkin42.dev.pem",key="/run/secrets/renkin42.dev.key"}'

Secret=vaultwarden-admin-token,type=env,target=ADMIN_TOKEN
Secret=renkin42-dev-cert,target=renkin42.dev.pem
Secret=renkin42-dev-key,target=renkin42.dev.key

[Service]
Restart=always
TimeoutStartsec=600

[Install]
WantedBy=multi-user.target
