[Unit]
Description=Vaultwarden Password Manager

[Container]
Pod=vaultwarden.pod
ContainerName=vaultwarden
Image=ghcr.io/dani-garcia/vaultwarden:latest
AutoUpdate=registry

Volume=vaultwarden.volume:/data:Z,U

Environment=DOMAIN="https://bitwarden.renkin42.dev"

Secret=vaultwarden-admin-token,type=env,target=ADMIN_TOKEN

[Service]
Restart=always
TimeoutStartsec=600

[Install]
WantedBy=podman-start.target
