[Unit]
Description=Traefik Reverse Proxy
Requires=podman.socket
After=podman.socket

[Container]
Pod=tunnel.pod
ContainerName=traefik
Image=docker.io/library/traefik:latest
AutoUptade=registry

Volume=/etc/containers/configs/traefik.yaml:/etc/traefik/traefik.yaml:ro,z
Volume=/var/run/podman.sock:/var/run/docker.sock:ro

Secret=renkin42-dev-cert,target=renkin42.dev.pem
Secret=renkin42-dev-key,target=renkin42.dev.key

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=podman-start.target
