[Unit]
Description=CloudFlare Tunnel

[Container]
Pod=tunnel.pod
ContainerName=tunnel
Image=docker.io/cloudflare/cloudflared:latest
AutoUpdate=registry

Exec=tunnel run

Secret=cloudflare-token,type=env,target=TUNNEL_TOKEN

[Service]
Restart=Always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
