[Unit]
Description=Foundry Virtial Tabletop Server

[Container]
Pod=foundryvtt.pod
ContainerName=foundryvtt
Image=ghcr.io/felddy/foundryvtt:14
AutoUpdate=registry

Volume=foundryvtt.volume:/data:Z,U

Environment=FOUNDRY_TELEMETRY=true
Environment=FOUNDRY_HOSTNAME=dnd.renkin42.dev
Environment=FOUNDRY_PROXY_PORT=443
Environment=FOUNDRY_PROXY_SSL=true

Secret=foundry-config,target=config.json

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
