[Unit]
Description=Home Assistant home automation server
After=cloudflared@homeassistant.service mosquitto.service zwavejs.service

[Container]
Pod=homeassistant.pod
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry

Volume=homeassistant.volume:/config
Volume=/etc/localtime:/etc/localtime:ro

Secret=renkin42-dev-cert,target=renkin42.dev.pem
Secret=renkin42-dev-key,target=renkin42.dev.key

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=default.target
