[Unit]
Description=Home Assistant home automation server
After=mosquitto.service zwavejs.service

[Container]
Pod=homeassistant.pod
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry

Volume=homeassistant.volume:/config:Z,U
Volume=/etc/containers/configs/homeassistant.yaml:/config/configuration.yaml:ro,z
Volume=/etc/localtime:/etc/localtime:ro,z

Secret=homeassistant-secrets,target=/config/secrets.yaml

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=podman-start.target
