[Unit]
Description=Mosquitto MQTT Server

[Container]
Pod=homeassistant.pod
ContainerName=mosquitto
Imaage=docker.io/library/eclipse-mosquitto:latest
AutoUpdate=registry

Volume=mosquitto.volume:/mosquitto/:Z,U

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
